html{
	background:url('../imagenes/fondo2.jpg') no-repeat;
	background-size: cover;


}

body{
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-family: 'Covered By Your Grace', cursive;
	text-align: center;
	font-size: 57px;
}

h1 span{
	color:#FF4E4E;
}
h1 img{
	height: 75px;
	width: 75px;
}

.formLogin{
	padding: 25px;
	margin-top:25px;

}

.navbar-text span{
	color:#DBFDEB;
}
.navbar-text{
	font-weight: bold;
}

.bienvenida{
	background-color: transparent!important;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top:25%;
	font-size:25px;

}
.bienvenida h1{
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
}
hr{
	    border-top: 2px solid black;
}

.listaContactos{
	height: 700px;
	padding: 15px;
	background:  rgba(0, 0, 0, 0.1);
	overflow: scroll;
}
.listaContactos h3{
	color:black;
	font-weight: bold;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.4);

}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text{
	color:white;
}

.navbar-inverse .navbar-nav>li>a>span{
	font-size:17px;
}
.panel-default>.panel-heading{
	background-color: #3F3F3F;
	color:white;
}
.media-object{
	max-width: 150px;
	width: 150px;
}

.media-body ul{
list-style-type: none;
}

.iconosAdmin{
	font-size: 20px;
	display: inline-block;
}

.iconosAdmin span{
	display: inline;
	margin-left: 10px;
}

.iconosAdmin button{
	display:inline;
}